@model IEnumerable<Cinema_webapp.Models.Showtime>

@{
    ViewData["Title"] = "Showtimes";
}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: linear-gradient(to right, #1e1e2f, #3a3a5a);
        color: #ffffff;
        margin: 0;
        padding: 0;
    }

    .showtime-box {
        max-width: 1000px;
        margin: 50px auto;
        background-color: #2c2c3a;
        padding: 30px;
        border-radius: 12px;
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-shadow: 0 0 15px rgba(0,0,0,0.4);
    }
</style>

@foreach (var showtime in Model)
{
   <div class="showtime-box">
       <p>Початок о @showtime.StartTime </p>
       <p>Кінець о @showtime.EndTime </p>
       <p>Зал # @showtime.HallId</p>
        <a asp-action="Index"
           asp-controller="Seat"
           asp-route-showtimeId="@showtime.Id"
           asp-route-hallId="@showtime.HallId"
           class="cta-button">
            🎟️ Місця
        </a>

   </div>
}
